extends layout

block content

	include header
	div.title
		h2 Acerca
	section.contenedor2
		section.imgacerca
			img(src="/img/bocetos.jpg" class="grilla")
		section.infoacerca
			p
				|soy gonzalo moroni
				|soy diseñador grafico
				|egresado de la universidad J. F. Kennedy
			br
			p aptitudes:
			br
			p
			p	Desarrollo de marca/branding
			p	Ilustracion
			p	Diseño web
			p	Multimedia
			br
			p Herramientas
			br
			p	Illustrator
			p	Photoshop
			p	After effects
			p	HTML
			p	CSS
			p	Javascript
			p	Node.js
	include footer
