extends layout

block content

	include header
	section.contenedor2
		div.title
			h2 Contacto
		section.infocontacto
			p <b>Telefono:</b>
			p +54 1164663015
			br
			p <b>E-mail:</b>
			p moronigonzalo@gmail.com
		form.formularioo#formu(method="POST" name="formu")
				div.campos
					label(for="nombre") Nombre:
					input(type="text" id="nombre" name="nombree")
					div#alertanom
				div.campos
					label(for="e-mail") E-mail:
					input(type="e-mail" id="email" name="emaill")
					div#alertamail
				div.campos
					label(for="telefono") Telefono:
					input(type="text" id="telefono" name="telefonoo")
					div#alertatel
				div.campos
					label(for="mensaje") Mensaje:
					textarea(type="text" id="mensaje" name="mensaje")
					div#alertamens
				div.campos
					input(type="button" id="enviar" name="enviarr" value="enviar")
	script(src="/js/validaciones2.js")
	include footer



