header
	div.divlogo
		a(href="/")
			img.logotipo(src="/img/logo-md4.png" )
	div.box
	nav
		ul
			li
				a(href="/") inicio
			li
				a(href="/acerca") acerca
			li
				a(href="/contacto") contacto

