doctype html
html(lang="es")
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		title= title
		link(rel="stylesheet", href="css/estilos.css")
		//- link(rel="stylesheet", href="/css/jquery.fancybox.css?v=2.1.7")
		link(rel="stylesheet", href="css/jquery.fancybox.css")
	body
		block content