<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <h1>Configurar regado</h1>
    <form id="reg" action="">
            <div>
                    <label for="tiemporegado">tiempo de regado:</label>
                    <input type="text" id="tiemporegado">
            </div>
            <div>
                    <label for="frecuencia">frecuencia:</label>
                    <input type="text" id="frecuencia">
            </div>
            <div>
                    <input type="submit" id="enviar" value="regar" />
            </div>
            <div id="caja"></div>
            <div id="muestro-tiempo"></div>
    </form>
    <script src="js/regado.js"></script>
</body>
</html>
