
extends layout

block content

	include header
    h1 Configurar regado
    form.formularioo#formu(method="POST" name="formu")
            div
                label(for="tiemporegado") tiempo de regado:
                input(type="text" id="tiemporegado")
            div
            div
                label(for="frecuencia") tiempo de regado:
                input(type="text" id="tiemporegado")
            div
            div
                    <input type="submit" id="enviar" value="regar" />
            div
            div id="caja"
            div id="muestro-tiempo"
    </form>
	
	include footer
