extends layout

block content

	include header
    h1 Configurar regado
    form.formularioo#formu(method="POST" name="formu")
            div
                label(for="tiemporegado") tiempo de regado:
                input(type="text" id="tiemporegado")
            div
                label(for="frecuencia") frecuencia:
                input(type="text" id="frecuencia")
            div
		    input(type="submit" id="enviar" value="regar")
            div.caja
            div.caja
	script(src="/js/regado.js")
	include footer
